/*TO RESET DEFAULT TABLE STYLES*/
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*new table style begings.*/
body {
    height: 3000px;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.offset {
    margin-top: 0;

    padding-top: 200px;
    text-align: left;
    transition: .3s;
    font-size: 30px;

}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.fixed_header {
    position: fixed;
    width: 100%;
    height: 15px;
    font-weight: bold;
    text-align: center;
    background: aqua;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    padding: 95px;
    font-size: 30px;
    vertical-align: middle;
    

}
.tableHeader {
    width: 100%;
    text-align: center;
    vertical-align:middle;
    padding: 60px;
    background-color:blanchedalmond;
    
}

.attributes {
    font-size: small;
    background-color: aqua;
    color: whitesmoke;
}

.data_type {
    background-color: aqua;
    font-size: smaller;
    display: inline-block;
}

table {

    width: 100%;


}

th {

    text-align: center;

}



table,
th,
td {

    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;

}

th,
td {
    padding: 10px;

}

tr:nth-child(even) {
    background-color: aqua;
    color: azure;
}